@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans Mono", serif;
  font-weight: 1000;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f8f5e9;
  padding: 10px 0px;
  color: white;
}
.logo {
  color: black;
  font-family: "Ubuntu Sans Mono", serif;
  font-weight: 1000;
}
.navbar a {
  font-weight: 1000;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  background: #e3f0af;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  font-size: 13px;
  gap: 10px;
}

/* Footer styles */
footer {
  background-color: #a9b5df;
  padding: 20px;
  text-align: left;
  font-size: 10px;
}

.first {
  max-width: 800px;
  padding: 10px;
}

.con {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icons {
  display: flex;
  gap: 15px;
  padding: 10px 0px;
}

.icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.icons img:hover {
  transform: scale(1.1);
}

.btn-3 {
  background-color: #0058a3;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-3:hover {
  background-color: #004080;
}

.last-one {
  font-size: 12px;
  padding: 10px;
}
.last-one ul li {
  display: inline;
  margin: 0 10px;
}

.last-one ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.last-one ul li a:hover {
  text-decoration: underline;
  /* font-size: 8px; */
}

/* Responsive Design */
@media (max-width: 600px) {
  .con {
    flex-direction: column;
  }

  .icons {
    justify-content: center;
  }

  .last-one ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .btn-3 {
    width: 100%;
  }
}
